[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 200
via_ir = false

[profile.default.fuzz]
runs = 256

[profile.default.invariant]
runs = 256
depth = 15

# Coverage settings
[profile.coverage]
via_ir = false
